<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <div *ngFor="let field of fields" class="p-field" style="margin-bottom: 1rem;">
    <ng-container [ngSwitch]="field.type">

      <!-- matnli input -->
      <p-inputgroup *ngSwitchCase="'text'">
        <p-inputgroup-addon><i class="{{ field.icon }}"></i></p-inputgroup-addon>
        <input type="text" pInputText [formControlName]="field.name" [placeholder]="field.placeholder"
          [ngClass]="{ 'p-invalid': isInvalid(field.name) }" (input)="onInputChange()" />
      </p-inputgroup>
      <p-inputgroup *ngSwitchCase="'email'">
        <p-inputgroup-addon><i class="{{ field.icon }}"></i></p-inputgroup-addon>
        <input type="email" pInputText [formControlName]="field.name" [placeholder]="field.placeholder"
          [ngClass]="{ 'p-invalid': isInvalid(field.email) }" (input)="onInputChange()" />
      </p-inputgroup>
      <p-inputgroup *ngSwitchCase="'password'">
        <p-inputgroup-addon><i class="{{ field.icon }}"></i></p-inputgroup-addon>
        <input type="password" pInputText [formControlName]="field.name" [placeholder]="field.placeholder"
          [ngClass]="{ 'p-invalid': isInvalid(field.password) }" (input)="onInputChange()" />
      </p-inputgroup>

      <!-- select (Dropdown) xoli/davom -->
      <!-- <div > -->
      <!-- <p-inputgroup> -->
      <p-dropdown *ngSwitchCase="'select'" [options]="field.options" [formControlName]="field.name"
        [placeholder]="field.placeholder" [ngClass]="{ 'p-invalid': isInvalid(field.name) }"
        (onChange)="onInputChange()" appendTo="body">
      </p-dropdown>
      <!-- </p-inputgroup> -->



      <!-- agar options bo'lmasa, xabar va link -->
      <div class="flex justify-between mt-4 items-center" *ngIf="field.options?.length === 0">
        <small style="color: #888;">
          {{ field.label }}
        </small>
        <button pButton type="button" [routerLink]="field.route">{{field.routeText}}</button>
      </div>
      <!-- </div> -->


    </ng-container>

    <div *ngIf="isInvalid(field.name)" style="color: red; font-size: 0.8rem;">
      <span *ngIf="form.get(field.name)?.hasError('required')">
        {{ field.label }} is required.
      </span>
      <span *ngIf="form.get(field.name)?.hasError('minlength')">
        {{ field.label }} must be at least {{
        form.get(field.name)?.errors?.['minlength']?.requiredLength
        }} characters.
      </span>
    </div>
  </div>

  <div style="margin-top: 1.5rem;">
    <p-button [style]="{ width: '100%' }" severity="info" type="submit" [label]="submitText"
      [disabled]="form.invalid"></p-button>
  </div>
</form>